<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<link rel="icon" href="LongDasherIcon.png" type="img/gif">
	<link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>	 
	<div class="container">
		<div id="nav">
			<div class="home">
				<a href="home.html"></a>
			</div>
			<div class="profilelink">
				<!-- this will link you to your own profile -->
				<a href="profile.html"><img src="../img/sampleprofile.png" width="100px"/></a>
			</div>
			<div class="sidebar">
				<ul>
				<!-- sidebar -->
				<li><a href="home.html">home</a></li>
				<li><a href="herds.html">herds</a></li>
				<li><a href="message.html">message</a></li>
				<li><a href="settings.html">settings</a></li>
				</ul>
			</div>
		</div>
		<div id="mainpage">
			<h1>profile</h1>
			<div class="left">
				<img src="../img/sampleprofile.png" width="400px"/>
				<div class="bio">
					<h3> michael markell </h3>
					<h4> male, 19 </h4>
					<h4> location: delaware </h4>
					<h4> language: english </h4>
					<br>
					<h4>bio:</h4>
					<p> I like underwater basket weaving. ;)) </p>
				</div>
			</div>
			<div class="right">
				<h3> herds </h3>
				
			</div>
		</div>
	</div>
</body>
</html>
