body{
	color: white;
	font-family: Helvetica;
	background-color: #e2e2e2;
	height: 100%;
	margin: 0;
}

ul {
	float:left;
	background-color: #3FADCC;
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	font-family: Helvetica;
	font-size: 22px;
	text-align: center;
	letter-spacing: 4px;
	font-weight: bold;
}

li{
	padding: 30px 0px;
}

li:hover {
	background-color: #76B9CC;
}

a:link, a:visited{
	display: block;
	font-family: Helvetica;
	text-decoration: none;
	color: white;
}

a:hover, a:active {
	color: #F89F44;
}

.home {
	background-image: url("/static/img/LongDasherTop.png");
	width: 100%;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


.home:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#mainpage {
	float: left;
}

.profilelink {
	background-color: #F89F44;
	height: 100px;
	text-align: center;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.profilelink:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#nav {
	float:left;
	background-color: #38ADCE;
	padding-top: 50px;
	width: 15%;
	height: 100%;
	float: left;
}

<<<<<<< HEAD
#mainpage {
	float: left;
	width: 60%;
	height: 50%;
=======
#navProfile {
	backround-image: url("sampleprofile.png");
	width: 192px;
	height: 50px;
	background-color: #F79D4F;
>>>>>>> 025583623389babc8f7799d50e446f59e0680547
}

.container {
	height: 100%;
}

html {
	height: 100%;
}

h1 {
	font-family: Helvetica;
	font-size: 50px;
	letter-spacing: 5px;
	padding: 20px;
	color: #F89F44;
	font-weight: lighter;
	margin: 0;
}

h2 {
	font-family: Helvetica;
	font-size: 35px;
	letter-spacing: 2px;
	padding: 10px;
	color: #76B9CC;
	font-weight: lighter;
	text-align: left;
	margin: 0;
}


.homesquares {
	background-color: white;
<<<<<<< HEAD
	padding: 12px;
	margin: 31px;
	margin-top: 0px;
	text-align: center;
}
=======
	padding: 5px;
	margin: 15px;
	width: auto;
	height: auto;
	text-align: left;
}
>>>>>>> 025583623389babc8f7799d50e446f59e0680547
