<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<link rel="icon" href="LongDasherIcon.png" type="../static/home.css">
</head>
<body>	 
	<div class="container">
		<div id="nav">
			<div class="home">
				<a href="home.html"></a>
			</div>
			<div class="profilelink">
				<!-- this will link you to your own profile -->
				<a href="profile.html"><img src="../img/sampleprofile.png" width="100px"/></a>
			</div>
			<div class="sidebar">
				<ul>
				<!-- sidebar -->
				<li><a href="home.html">home</a></li>
				<li><a href="herds.html">herds</a></li>
				<li><a href="message.html">message</a></li>
				<li><a href="settings.html">settings</a></li>
				</ul>
			</div>
		</div>
		<div id="mainpage">
			<h1>hello</h1>
		</div>
	</div>
</body>
</html>