<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" title="home" href="home.css">
</head>
<body>	 
	<div class="home">
		<a href="home.html"></a>
	</div>
	<div class="profilelink">
		<!-- this will link you to your own profile -->
		<a href="profile.html"><img src="sampleprofile.png" width="100px"/></a>
	</div>
	<div class="sidebar">
		<ul>
		<!-- sidebar -->
		<li><a href="herds.html">herds</a></li>
		<li><a href="message.html">message</a></li>
		<li><a href="roam.html">roam</a></li>
		<li><a href="settings.html">settings</a></li>
		</ul>
	</div>
	<div id="mainpage">
		
	</div>
</body>
</html>